body{
    margin: 0;
    padding: 0;
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

.side-nav-icon div{
    height: 5px;
    background: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.4s;
}

.side-nav-icon input{
    display:none;
}

.side-nav-icon input:checked{
    
}

.side-nav-icon{
    width: 30px;
    display: block;
    margin: 0.5em 0 0 0.5em;
}

.side-nav-icon .one{
    width: 30px;
}

.side-nav-icon .two{
    width: 17px;
}

.side-nav-icon .three{
    width: 24px;
}

.side-nav-icon:hover div{
    width: 30px;
    background: #55fbaa;
}


.side-nav{
    display:block;
    height:30vh;
    width: 20vw;
    background: #444;
    border-radius: 35px;
}
.side-menu {
    margin: 50px 6px;
}

.side-menu li{
    margin: 30px 6px;
    
}
.side-menu li a{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    font: 'Work Sans', sans-serif;
}

