body {
    margin: 0;
    width: 70%;
}

h1 {
    font-size: 3em;
    border-top: 3px solid #d5d5d5;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.topnav ul {
  list-style-type: none;
  text-align: center;
  table-layout: fixed;
  display: table;
  padding: 0;
  width: 100%;
  margin: 0;
}
.topnav ul li {
  vertical-align: middle;
  display: table-cell;
}
.topnav a {
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  background-color: #033;
  font-size: 25px;
}
.topnav ul li a:hover {
  color: white;
  background-color: #111;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav #currentpage a {
  color: black;
  text-decoration: line-through;
  background-color: #c2d6d6;
}
